@font-face {
  font-family: Gridstar;
  src: url('Gridstar-Regular.otf');
}

@font-face {
  font-family: Garet;
  src: url('Garet-Book.otf');
}

body {
  margin: 0;
  background-image: url("img/cross.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 10px 10px;
}

header {
  margin-top: 0;
  top: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
  background-color: red;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#knowf1 {
  margin: 0;
  padding: 10px;
  display: flex;
  color: white;
  font-size: 40px;
  font-family: Gridstar;
  text-align: left;
}

#navigation {
  list-style: none;
  margin: 0;
  padding: 10px;
  background: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex end;
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: 0;
  color: white;
  font-family: Gridstar;
  position: relative;
}

#navigation li {
  padding: 1em;
}

#navigation a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

#navigation a:hover::before {
  transform: scaleX(1);
}

.content-wrapper {
  display: flow;
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
  min-height: 4000px;
  background-color: white;
}

#title {
  font-family: Gridstar;
  font-size: 50px;
  color: black;
  margin: 0;
  border-bottom: 5px solid red;
  width: 450px;
}

.title-wrapper {
  display: block;
  padding-top: 25px;
  padding-left: 50px;
}

.next-race-wrapper {
  display: block;
  border: 2px black solid;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

#next-race-title {
  font-family: Garet;
  font-size: 25px;
  text-align: center;
  padding: 3%;
}

.track-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  margin: 25px;
}

.grid-item {
  display: block;
  border-top: black 2px solid;
  border-right: black 2px solid;
  border-top-right-radius: 25px;
}

.grid-item img {
  width: 70%;
  margin: auto;
  display: block;
}

.grid-item p {
  font-size: 1.2em;
}

#track-title {
  font-family: Gridstar;
  margin-left: auto;
  margin-right: 5%;
  display: inline-block;
  vertical-align: middle;
}

#flag {
  float: right;
  display: inline-block;
  width: 20%;
  padding-right: 10%;
  vertical-align: middle;
}
